<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopData.shopName%></h1>
    <h2>Here is a list of all our users</h2>
    <ul>
        <% users.forEach(user => { %>
            <li>Username: <%=user.username%></li>
            <li>First Name: <%=user.firstName%> </li>
            <li>Last Name: <%=user.lastName%></li>
            <li>Email: <%=user.email%></li>
            <p></p> 
        <% }) %>
    </ul>
  </body>
</html>
